default: &default
  adapter: mysql2
  pool: 5
  host: "localhost"
  username: "root"
  password: "1"
  socket: /var/run/mysqld/mysqld.sock

development:
  database: tv_01_development
  <<: *default

test:
  database: tv_01_test
  <<: *default

production:
  database: tv_01_production
  <<: *default
